:root {
    --cahrsheet-background: #b8963f;
    --cahrsheet-list1: #ba8d1b;
    --cahrsheet-list2: #886815;
    --cahrsheet-border: #503d0d;
    /* --cahrsheet-list2: #886815; */
}

.corner5left {
    background:
            linear-gradient(135deg, transparent 5px, var(--cahrsheet-list1) 0, 25%, transparent 0),
            linear-gradient(45deg, transparent 5px, var(--cahrsheet-list1) 0, 25%, transparent 0),
            linear-gradient(90deg, transparent 8px, var(--cahrsheet-list1) 0),
            linear-gradient(0deg, transparent 8px, var(--cahrsheet-list1) 0, calc(100% - 8px), transparent 0 );
}
.corner5right {
    background:
            linear-gradient(135deg, transparent 5px, var(--cahrsheet-list1) 0, 25%, transparent 0),
            linear-gradient(45deg, transparent 5px, var(--cahrsheet-list1) 0, 25%, transparent 0),
            linear-gradient(90deg, transparent 8px, var(--cahrsheet-list1) 0),
            linear-gradient(0deg, transparent 8px, var(--cahrsheet-list1) 0, calc(100% - 8px), transparent 0 );
}

html {
    font-family: 'Caslon-antique';
    font-weight: bold;
}


.weapons {
    border: 1px solid var(--cahrsheet-border);
}

.weapons .weapons-head {
    overflow: hidden;
    display: flex;
    border: 1px solid var(--cahrsheet-border);
    background-color: var(--cahrsheet-list1);
}

.weapons .weapons-line {
    overflow: hidden;
    display: flex;
    border: 1px solid var(--cahrsheet-border);
    background-color: var(--cahrsheet-list2);
}

.weapons label {
    color: #101010;
    font: 20px 'Caslon-antique';
    float: left;
    height: 100%;
}

.weapons input {
    color: #000000;
    font: 20px 'Caslon-antique';
    border: 0px solid transparent;
    background-color: transparent;
    overflow: hidden;
    width: 100%;
    height: 100%;
}