a {
    position: relative;
    display: inline-block;
    margin-top: 20px;
  }
  
  a[title]:hover::after {
    content: attr(title);
    position: absolute;
    top: -100%;
    left: 0;
    color: blue;
  }