:root {
    --cahrsheet-background: #b8963f;
    --cahrsheet-list1: #ba8d1b;
    --cahrsheet-list2: #886815;
    --cahrsheet-border: #503d0d;
    /* --cahrsheet-list2: #886815; */
}

.corner5left {
    background:
            linear-gradient(135deg, transparent 5px, var(--cahrsheet-list1) 0, 25%, transparent 0),
            linear-gradient(45deg, transparent 5px, var(--cahrsheet-list1) 0, 25%, transparent 0),
            linear-gradient(90deg, transparent 8px, var(--cahrsheet-list1) 0),
            linear-gradient(0deg, transparent 8px, var(--cahrsheet-list1) 0, calc(100% - 8px), transparent 0 );
}
.corner5right {
    background:
            linear-gradient(135deg, transparent 5px, var(--cahrsheet-list1) 0, 25%, transparent 0),
            linear-gradient(45deg, transparent 5px, var(--cahrsheet-list1) 0, 25%, transparent 0),
            linear-gradient(90deg, transparent 8px, var(--cahrsheet-list1) 0),
            linear-gradient(0deg, transparent 8px, var(--cahrsheet-list1) 0, calc(100% - 8px), transparent 0 );
}

html {
    font-family: 'Caslon-antique';
    font-weight: bold;
}


.charsheet-weapon-holder {
    border: 1px solid var(--cahrsheet-border);
    display: flex; 
    flex-direction: column; 
    height: 100px; 
    width: 500px;
}

.charsheet-weapon-field {
    overflow: hidden;
    display: flex;
    border: 1px solid var(--cahrsheet-border);
    background-color: var(--cahrsheet-list2);
}

.charsheet-weapon-field * {
    font: 20px 'Caslon-antique';
    border: 0px solid transparent;
    background-color: transparent;
    height: 100%;
    display: flex;
    align-items: center;
}

.charsheet-weapon-field {
    color: #101010;
    float: left;
}

.charsheet-weapon-input {
    color: #000000;
    float: left;
    width:fit-content;
}

.charsheet-weapon-input:last-child {
    width: 100%;
}


.charsheet-characteristics-holder {
    border: 1px solid var(--cahrsheet-border);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: calc(200px * 4/3); 
    width: 200px;
}

.charsheet-characteristics-field {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--cahrsheet-border);
    background-color: var(--cahrsheet-list2);
    height: 100%; 
    width: 100%;
}
.charsheet-characteristics-field:last-child {
    grid-column-start: 2;
    grid-column-end: 2;
}

.charsheet-characteristics-label {
    display: flex;
    justify-content: center;
    background-color: var(--cahrsheet-list1);
    color: #111111;
    width: calc(100% * 2/3);
    height: calc(100% * 1/3);
}

.charsheet-characteristics-input {
    text-align: center;
    color: #000000;
    font: 30px 'Caslon-antique';
    border: 0px solid transparent;
    background-color: transparent;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}